body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #0D47A1(117, 17, 17);
    background-color: #b4d1ec(162, 27, 27);

}
h1 h2 h3{
    color: #0D47A1(117, 17, 17);
    Font-weight: bold;
}


