body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #0D47A1(117, 17, 17);
    background-color: #b4d1ec(162, 27, 27);
    line-height: 1.6;

}
h1{
    color:#2196F3(117, 17, 17);
    Font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 15px;
}
h2{
    color:2196F3(117, 17, 17);
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 12px;
}
h3{
    color: #0D47A1(117, 17, 17);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

header{
    background-color : #A7D1FF;
    color: 0D47A1;
    padding : 20px;
    text-align: center;
}
nav{
    background-color: #E6F3FF;
    padding: 15px;
    text-align: center;
}

nav a{
    color: #0D47A1;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover{
    color: #2196F3;
}
main{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
selection{
    padding: 20px;
    margin-bottom: 30px;
}
p{
    margin-bottom: 15px;
    line-height: 1.6;
}

